<div class="slider">
    <main class="slider__main">
        <div class="slider__left">
            <a href="#" class="review__header-link" id="closeBtn"></a>
        </div>
        <ul class="slider__list">
            
        </ul>
        <div class="slider__right">
            <a href="#" class="review__header-link" id="closeBtn"></a>
        </div>
    </main>
    <ul class="slider__tabs">

    </ul>
</div>